.ecommerceContainer{
    width: 70%;
    margin-left: 15%;
    margin-top:50px;
}
.ecommereceDetails{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.btnreact{
    background-color: blueviolet;
    color:white;
    border-style: none;
    height: 25px;
}
.btnNode{
    background-color: skyblue;
    margin-left: 10px;
    color:white;
    border-style: none;
    height: 25px;
}
.btnMongo{
    background-color: green;
    margin-left: 10px;
    color:white;
    border-style: none;
    height: 25px;
}
.btnJwt{
    background-color:darkblue;
    margin-left: 10px;
    color:white;
    border-style: none;
    height: 25px;
}
.btnContext{
    background-color:lightsalmon;
    margin-left: 10px;
    color:white;
    border-style: none;
    height: 25px;
}
.commerceScrenshots{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.commerce-img{
    width: 60%;
    margin-left: 20px;
}